
.header{
    height:55px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    top:10px;
   position: fixed;
   top:0;
   left:0;
   right:0;
   background-color: white;
   border-bottom-width: 1px;
   border-bottom-color:rgb(214, 212, 212);
   border-bottom-style:solid;

}
.left{
   
  display:flex;
  align-items:center;
  width: 200px;
    
}
.middle{
    flex: 1;
    margin-left: 30px;
    margin-right: 30px;
    max-width:600px;
    display: flex;
    align-items: center;
}
.right{
    align-items: center;
    display:flex;
    width:200px;
    justify-content: center;
    margin-right: 20px;
}
.icon{
   width:24px;
   align-items: center;
   display:flex;
   margin-left: 20px;
   margin-right: 20px;
   flex-direction:row;  
}
.you{
    width:140px;
    height: 60px;
    align-items: center;
    flex-direction: row;
    top:0;
   display: flex;
   flex:1;
  transition: transform.5s ease-in-out;
    
}
.you:hover{
     transform: rotate(360);
}
.search{
    flex:1;
    height:35px;
    width: 145px;
    padding-left: 10px;
    box-shadow: inset;
    width: 0%;
}
.voice{
    
    border: 0px;
    height:40px;
    border: 1px;
    border-style: solid;
    border-color: gray;
    column-gap: 5px;
    margin-right: 5px;
}
.search::placeholder{
    font-family: roboto,arial;
}
.mike{
    border-radius: 12px;
    margin-left:10px;
    height:25px;
}
.mike:hover{
    background-color: gray;
}
.create{
border-radius: 15px;
height:35px;
flex:1;
}
