.sidebar{
   
    position:fixed;
    height: 800px;
    width: 80px;
    top:80px;
    row-gap: 20px;
    column-gap: 20px;
    left:10px;
    justify-content:center;
    align-items: center;
    right: 0;
    

}
.sidebar-link:hover{
    background-color: gray;
}
.home{
    height: 60px;
    width:60px
     
   
}
.shorts{
    height: 60px;
    width:60px
}
.subscribe{
    height: 60px;
    width:60px
}
.you{
    height: 60px;
    width:60px
}
.download{
    height: 60px;
    width:60px
}
