 .image1{
       width:100%;
       margin-top: 0px;
        
      
    }
    .image2{
        width:100%;
        margin-top: 0px;
    }
    .p1{
        margin-top: 0px;
       font-size:17px;
       font-weight: 700;
       line-height: 20px;
      
    }
    .p2{
        font-size: 12px;
        color:rgb(90,90,90)
    }
    .p3{
        font-size: 12px;
        color:rgb(90,90,90)
    }
    .video-preview{
       border:none;
    }
    .video-grid{
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
        row-gap: 16PX;
        column-gap: 35px;
        margin: 0px;
        margin-left: 80px;
      

    }
    .video-info-grid{
        display:grid;
        grid-template-columns: 50px 1fr;
    }
    .channel-picture{
        display:inline-block;
        width:50px;
        vertical-align: top;
        margin-top: 10px;
        
       
    }
    .video-info{
        display:inline-block;
        width:245px;
        margin-top: 10px;
        
        
    }
    .profile-pic{
        width:40px;
        border-radius: 20px;
    }
    .time{
        background-color: black;
        color:white;
        position: fixed;
        top:0;
       
       right:5px;
        
    }